:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
*{
  box-sizing: border-box;
}
img{
  display: block;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
.form{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 32px;
}
.form button{
  background: #4e75ff;
  border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;

font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border: none;
}
[name="search-text"]{
  border: 1px solid #808080;
border-radius: 4px;
width: 272px;

font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
padding: 8px 16px;
}
.gallery{
display: flex;
flex-wrap: wrap;
gap: 24px;
align-items: center;
justify-content: center;
}
.gallarey-item{
border: 1px solid #808080;
width: 360px;
height: 200px;
}
.gallery-image{
 width: 360px;
 height: 152px;
 object-fit: cover; 
}
.info{
display: flex;
justify-content: space-around;
align-items: center;
}
.info li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info li p{
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    .loader.show{
    display: inline-block;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 